<div class="res">
  <h2>РЕЗУЛЬТАТ</h2>
  <div class="put" id="input_data">Входные данные: n = <%= @input_data %></div>
  <div class="put" id="result">Выходные данные:</div>
</div>  

<div class="table_pos">
<table>
  <tbody>
    <% @result.each do |i| %>
    <tr>
      <td><%= i[0] %></td>
      <td><%= i[1] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
