<h1>Лабораторная работа №9</h1>

<h3>Введите число n</h3>

<div class="div-form">
<%= form_with url: result_path do |form| %>
  <%= form.label('Значение n:') %>
  <%= form.number_field(:numbers) %><br/>
  <div class="btn">
  <%= form.submit('SUBMIT', id: 'calculate-btn') %></div>
<% end %>
</div>

<div id='result-container'></div>
